<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <!-- SERVLETS -->
  
  <servlet>
    <servlet-name>servletDeEjemplo</servlet-name>
    <servlet-class>PruebaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EjemploServletGenerico</servlet-name>
    <servlet-class>EjemploServletGenerico</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EjemploServletHttp</servlet-name>
    <servlet-class>EjemploServletHttp</servlet-class>
  </servlet>
  
  <!-- MAPPING -->
  
  <servlet-mapping>
    <servlet-name>servletDeEjemplo</servlet-name>
    <url-pattern>/PruebaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EjemploServletGenerico</servlet-name>
    <url-pattern>/ServletGenerico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EjemploServletHttp</servlet-name>
    <url-pattern>/ServletHttp</url-pattern>
  </servlet-mapping>
 
  
  
  <!-- ERROR PAGE -->
  <error-page>
    <error-code>404</error-code>
    <location>/errores/error404.html</location>
  </error-page>
</web-app>